[Desktop Entry]
Encoding=UTF-8
Name=Raptor Application Menu
Comment=A launcher for your applications
Type=Service
ServiceTypes=Plasma/Applet
Icon=start-here-kde

X-KDE-Library=plasma_applet_raptor
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=raptor
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.raptor-menu.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
